.form {
    position: absolute;
    /* background-color: #c1d5af; */
    max-height: 68vh;
    width: 37.5vw;
    text-align: center;
    padding: 2rem 2rem;
    left: 27.5%;
    margin: 0;
    border-radius: 0 0.7rem 0.7rem 0;
    z-index: 3;
    overflow: scroll;
    /* background-color: rgba(255, 255, 255, 0.96); */
}

.my-list {
    margin: auto;
    margin-top: 5vh;
}